import React/*, {useState, useEffect}*/ from 'react'
//import PropTypes from 'prop-types'
import { Helmet } from 'react-helmet-async'

import Styled{{pascalCase name}} from './style'

const {{pascalCase name}} = props => {
return (
<Styled{{pascalCase name}} data-testid="{{dashCase name}}">
  <Helmet>
    <title>{{titleCase name}}</title>
    <meta name="description" content="description here" />
  </Helmet>
</Styled{{pascalCase name}}>
)
}

{{pascalCase name}}.defaultProps = {

}

{{pascalCase name}}.propTypes = {

}

export default {{pascalCase name}}